<div class="tm-carrousel-container">
    <div class="tm-carrousel">
        <div class=" tm-carousel-shadow tm-carrousel-image-active ">
            <img src={{this.imagesArray.[0].imageURL}} class="tm-carrousel-image-center">
            <div class="tm-carrousel-image-active-overlay"></div>
            <div class="tm-carrousel-arrow tm-carrousel-arrow-left glyphicon glyphicon-chevron-left"></div>
            <div class="tm-carrousel-icon-container tm-middle">
                <div class="tm-carrousel-icon tm-carrousel-icon-media"></div>
                <a class="tm-carrousel-icon tm-carrousel-icon-open glyphicon glyphicon-zoom-in"></a>
            </div>
                <div class="tm-carrousel-title-overlay">
                    <h4 class="tm-carrousel-title">{{this.imagesArray.[0].title}}</h4>
                </div>
            <div class="tm-carrousel-arrow tm-carrousel-arrow-right glyphicon glyphicon-chevron-right"></div>
        </div>
        {{!-- <div class="tm-img-shadow-container">
            <div class="tm-carousel-img-shadow"></div> --}}
        <div class="tm-carrousel-image-container">
            {{#each this.imagesArray}}
            <div class="tm-carrousel-image"><img src={{this.imageURL}}></div>
            {{/each}}
        </div>
        {{!-- </div> --}}
    </div>
</div>
<div class="container-fluid tm-home-main ">
    <section  class = "tm-home-info">
        <ul class = "tm-hbox tm-home-info-ul">
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/services.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
                <img src="./styles/imgs/dialog.png" alt="">
                What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
            <li>
                <div class = "tm-home-section-h6">
               <img src="./styles/imgs/melody.png" alt="">
                 What We Offer
                </div>
                <p class="tm-home-section-p  tm-grey">
                    Rhoncus quis, varius sed velit. Mauris quis nunc 
                    eu nunc molestie egestas et sit amet odio. Morbi 
                    lacinia velit in nibh sodales sed pharetra sem feugiat.
                    Vivamus ut cursus augue. Integer sit amet arcu lorem, 
                    at egestas tellus. Phasellus tellus orci, congue at 
                </p>
                <input type="button" class="tm-home-section-button" value="Read More">
            </li>
        </ul>
    </section>

    <section class="tm-main-quote-container">
        <div class="tm-quote">
            <div class="tm-icon">&ldquo;</div>
            <h6 class="tm-quote-body">Think positive!</h6>
            <a href="#/" class="tm-quote-button">Additional Info</a>
        </div>
    </section>


    <div class="tm-hbox-wrap tm-home-recent-work">
        {{#each this.services}}
        <article class="container tm-home-recent-work-container" >
            <div class="container tm-home-recent-work-img">
                
                {{!-- <div class="tm-img-shadow-container">
                    <div class="tm-img-shadow"></div> --}}
                {{#if this.imgUrl}}
                    <a href="#/services/{{this.linkName}}"><img src={{this.imgUrl}} alt="" class="tm-img tm-img-lower-opacity"></a>
                {{else}}
                    <div class="tm-no-image"></div>
                {{/if}}
                {{!-- </div> --}}
                <div class="tm-middle">
                        <img src="./../styles/imgs/enlarge.png" alt="" >
                        <img src="./../styles/imgs/zoom-in.png" alt="" >                    
                </div>
            </div>
        </article>
        {{/each}}
    </div>
</div>


